@import url(beatkey.css);
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap";
@keyframes leftToRight {
  49% {
    transform: translate(100%); }
  50% {
    opacity: 0;
    transform: translate(-100%); }
  51% {
    opacity: 1; } }
* {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

body, html {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #151515; }

body {
  max-width: 100%;
  overflow: hidden;
  padding: 0 5em; }

main {
  max-width: 100%;
  overflow: hidden; }

/******************************************************* */
.Title1 {
  font-size: 1.5em;
  font-weight: 600; }

header {
  padding: 20px 0; }
  header .Logo {
    width: 150px; }
  header nav a {
    margin-right: 20px; }
  header i {
    font-size: 20px !important;
    font-weight: bold !important; }
  header .Avatar {
    width: 40px;
    cursor: pointer; }

.Slider1 {
  position: relative; }
  .Slider1:hover {
    z-index: 1; }
  .Slider1 .slick-slide {
    max-height: 150px; }
  .Slider1 .Item {
    padding: 5px;
    position: relative; }
    .Slider1 .Item .ContentContainer {
      position: relative; }
      .Slider1 .Item .ContentContainer .Content {
        transition: all 0.2s;
        position: relative; }
        .Slider1 .Item .ContentContainer .Content .Video {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          opacity: 0; }
        .Slider1 .Item .ContentContainer .Content .Image {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%; }
          .Slider1 .Item .ContentContainer .Content .Image img {
            width: 100%;
            height: 100%; }
        .Slider1 .Item .ContentContainer .Content .Info {
          display: none;
          background-color: #191919;
          padding: 15px 10px; }
          .Slider1 .Item .ContentContainer .Content .Info .Icons {
            display: flex;
            align-items: center; }
            .Slider1 .Item .ContentContainer .Content .Info .Icons .Icon {
              background-color: #232323;
              color: #fff;
              font-size: 20px;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              border: 1px solid #b0b0b0;
              cursor: pointer;
              transition: all 0.2s; }
              .Slider1 .Item .ContentContainer .Content .Info .Icons .Icon:hover {
                background-color: #fff;
                color: #000; }
    .Slider1 .Item:hover {
      z-index: 2; }
      .Slider1 .Item:hover .Video {
        z-index: 2;
        opacity: 1 !important; }
      .Slider1 .Item:hover .Content {
        width: 150%;
        transform: translate(-15%, -15%); }
        .Slider1 .Item:hover .Content .Info {
          display: block; }

/*# sourceMappingURL=style.css.map */
